body{
  text-align: center;
}

#connect-4{
  background-color: yellow;
  display: inline-block;
}

.col{
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 5px;
}

.col.empty{
  cursor: pointer;
}

.light-red{
  background-color: rgba(255, 0, 0, 0.2);
}

.light-blue {
  background-color: rgba(0, 0, 255, 0.2);
}

.col.red{
  background-color: red;
}

.col.blue {
  background-color: blue;
}