body{
  text-align: center;
}

#connect-4{
  background-color: yellow;
  display: inline-block;
}

.col{
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 5px;
}

.red{
  background-color: red;
}